#  Create table emp(empid, empname, salary) and insert 8 records. Print only those records where salary > 10000  and write this data into salary.csv file. Do all this task from python.

In [1]:
import sqlite3 as sq

In [2]:
conn=sq.connect("C:/23BCA305/sqlite-tools-win-x64-3460000/employee.db")

In [3]:
cur=conn.cursor()

In [4]:
cur.execute("create table if not exists emp(empid primary key,empname,salary)")

In [5]:
cur.execute("insert into emp values(101,'om',8000),(102,'sai',9000),(103,'meet',20000),(104,'ram',25000),(105,'vishal',55000),(106,'nehal',50000),(107,'jay',30000),(108,'parth',35000)")

### all recode print

In [6]:
cur.execute("select * from emp;")

In [7]:
r=cur.fetchall()

In [8]:
print(r)

[(101, 'om', 8000), (102, 'sai', 9000), (103, 'meet', 20000), (104, 'ram', 25000), (105, 'vishal', 55000), (106, 'nehal', 50000), (107, 'jay', 30000), (108, 'parth', 35000)]

### Print only those records where salary > 10000

In [9]:
cur.execute("select * from emp where salary>10000")

In [10]:
r=cur.fetchall()

In [11]:
print(r)

[(103, 'meet', 20000), (104, 'ram', 25000), (105, 'vishal', 55000), (106, 'nehal', 50000), (107, 'jay', 30000), (108, 'parth', 35000)]

### write this data into salary.csv file.